/*src/index.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h2 {
    margin-top: 2rem;
    /* Adjust top margin for spacing */
}